@import 'style'

$blue: #55a4f1
$sky: #eaf8ff
$shadow: #d2edfb
$yellow: #f5e593
$gray: #AAA
$light: #CCCCCC
$pink: #ff99b9
$green: #3dcca0
$bg: #f6f6f6

.bam-village-scroll-wrap
    position: relative
    width: 100%
    scrollbar-gutter: stable
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    &.fix
        overflow: hidden

.bam-village-wrap
    position: relative
    margin: auto
    width: 1440px
    padding: 0 3rem
    overflow: hidden

.bam-village-h2-title
    position: relative
    left: -3rem
    p
        display: inline-block
        padding: 0.25rem 0 0.5rem 0
        width: 15rem
        font-size: 1.5rem
        color: #FFF
        background: url('../img/bam-village-title-bg.png') no-repeat center center
        background-size: contain
        text-align: center
    span
        display: inline-block
        font-size: 1rem
        margin-left: 1rem

.bam-village-gradient-1,
.bam-village-gradient-2
    width: 100%
    height: 50px
.bam-village-gradient-1
    background: linear-gradient(to bottom, $sky, #FFF)
.bam-village-gradient-2
    background: linear-gradient(to bottom, #FFF, $sky)


.bam-village-banner
    position: relative
    background: $sky
    &::after
        position: absolute
        display: block
        content: ''
        width: 100%
        height: 150px
        bottom: 0
        left: 0
        background: linear-gradient(to bottom, rgba(234, 248, 255, 0), $sky 75%)
    .banner-bg-front
        position: absolute
        width: 100%
        top: 0
        left: 0
        transition: transform 1s, opacity 1s! important
    .bam-village-title-wrap
        position: absolute
        left: 30vw
        width: 40vw
        top: 5%
        > div
            width: 0
            overflow: hidden
        img
            display: block
            width: 40vw
    .banner-talk
        position: absolute
        margin: auto
        left: 0
        right: 0
        width: 25%
        top: 32%
        article
            position: absolute
            bottom: 20%
            left: 0
            right: 0
            margin: auto
            color: $blue
            text-align: center
            font-size: 1vw
            transform: translateY(50%)

.bam-village-map
    position: relative
    padding: 3rem 0
    background: $sky
    .bam-village-map-wrap
        position: relative
        width: 70%
        margin-top: 3%
        .bam-village-map-border
            display: none
            position: absolute
            width: 100%
            top: 0
            left: 0
        .bam-village-map-click-fake,
        .bam-village-map-click
            a
                display: block
                position: absolute
                &.active
                    .house-light
                        animation: light 1s infinite alternate
                .house-light
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    opacity: 0
                &:nth-child(1)
                    width: 17%
                    top: 5%
                    left: 32%
                &:nth-child(2)
                    width: 16%
                    top: 16%
                    left: 19%
                &:nth-child(3)
                    width: 17%
                    top: 35%
                    left: 8%
                &:nth-child(4)
                    width: 17%
                    top: 5%
                    left: 47%
                &:nth-child(5)
                    width: 17%
                    top: 4%
                    left: 4%
                &:nth-child(6)
                    width: 17%
                    top: 28%
                    left: 37%
                &:nth-child(7)
                    width: 17%
                    top: 66%
                    left: 11%
                &:nth-child(8)
                    width: 17%
                    top: 73%
                    left: 32%
                &:nth-child(9)
                    width: 19%
                    top: 65%
                    left: 53%
                &:nth-child(10)
                    width: 18%
                    top: 32%
                    left: 79%
                &:nth-child(11)
                    width: 17%
                    top: 21%
                    left: 64%
                &:nth-child(12)
                    width: 18%
                    top: 38%
                    left: 65%
        .bam-village-map-click
            a
                z-index: 1
        @keyframes light
            to
                opacity: 1

    .bam-village-select-wrap
        z-index: 1
        position: absolute
        width: 35%
        right: 3rem
        top: 0
        .bam-village-map-talk
            position: relative
            article
                position: absolute
                left: 3%
                top: 60%
                width: 60%
                transform: translateY(-50%)
                text-align: center

        .bam-village-select-block
            width: 75%
            margin: auto
            margin-right: 0
            .bam-village-select-a
                display: flex
                justify-content: space-between
                align-items: center
                margin: 1rem 0
                a
                    position: relative
                    display: block
                    width: 30%
                    padding-top: 30%
                    &.active
                        &::before
                            border: 15px solid $yellow
                        &::after
                            border: 2px solid $yellow
                        img
                            transform: translate(-50%, calc(-50% - 20px)) scale(0.7)
                    &::before
                        position: absolute
                        display: block
                        content: ''
                        top: 50%
                        left: 50%
                        width: 100%
                        height: 100%
                        border: 15px solid $shadow
                        border-radius: 50%
                        transform: translate(-50%, -50%)
                        transition: border 0.5s
                    &::after
                        position: absolute
                        display: block
                        content: ''
                        top: 50%
                        left: 50%
                        width: 100%
                        height: 100%
                        border: 2px solid $blue
                        border-radius: 50%
                        transform: translate(-50%, -50%)
                        opacity: 0.5
                        transition: border 0.5s
                    img
                        z-index: 1
                        position: absolute
                        top: 45%
                        left: 50%
                        transform: translate(-50%, -50%) scale(0.7)
                        transition: transform 0.5s
            .bam-village-select-drop
                display: flex
                justify-content: space-between
                align-items: stretch
                .bam-village-select-drop-wrap
                    position: relative
                    flex: 1 0 0
                    border: 2px solid $shadow
                    border-radius: 100px
                    .bam-village-select-drop-active
                        position: relative
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 100%
                        height: 100%
                        border-radius: 100px
                        background: #FFF
                        padding-right: 1.5rem
                        color: var(--main-color)
                        &.pink
                            --main-color: #{$pink}
                        &.blue
                            --main-color: #{$blue}
                        &.green
                            --main-color: #{$green}
                        img
                            display: inline-block
                            width: 2rem
                            vertical-align: middle
                            margin-right: 0.5rem
                        &::after
                            display: block
                            content: '▼'
                            position: absolute
                            top: 50%
                            right: 1rem
                            color: $shadow
                            transform: translateY(-50%) scale(0.7)
                        &.disable
                            color: $light
                            padding-right: 0
                            &::after
                                display: none
                    article
                        display: none
                        z-index: 1
                        position: absolute
                        top: 120%
                        width: 80%
                        left: 10%
                        padding: 0.5rem 1.5rem
                        border: 2px solid $shadow
                        border-radius: 25px
                        background: #FFF
                        text-align: center
                        color: var(--main-color)
                        &.pink
                            --main-color: #{$pink}
                        &.blue
                            --main-color: #{$blue}
                        &.green
                            --main-color: #{$green}
                        a
                            display: block
                            border-top: 1px solid $shadow
                            padding: 0.75rem 0
                            &:first-child
                                border: 0
                            img
                                position: relative
                                display: inline-block
                                width: 2rem
                                vertical-align: middle
                                top: -2px
                                margin-right: 0.5rem
                .bam-village-map-select-full
                    width: 30%
                    margin-left: 3%
        .bam-village-select-logo
            position: relative
            margin-top: 1rem
            padding: 1rem
            height: 422px
            border-radius: 25px
            background: #FFF
            overflow-y: auto
            -webkit-overflow-scrolling: touch
            h3
                position: absolute
                top: 50%
                left: 50%
                color: $light
                font-size: 1rem
                transform: translate(-50%, -50%)
            article
                display: none
                div
                    position: relative
                    padding: 0.5rem 30px 0.5rem 70px
                    width: 100%
                    &::before
                        position: absolute
                        display: block
                        content: ''
                        width: 70px
                        height: 50px
                        top: 0.25rem
                        left: 0
                        background: url('../img/bam-village-icon-wood.png') no-repeat left bottom
                        background-size: contain
                    p
                        font-size: 0.95rem
                        padding: 0 0 0.25rem 0.5rem
                    a
                        display: flex
                        justify-content: center
                        align-items: center
                        position: relative
                        height: 50px
                        border: 1px solid $blue
                        border-radius: 50px
                        background: #FFF
                        > img
                            display: block
                            max-height: 90%
                            max-width: 80%! important
                            margin: auto
                        &.bam-village-select-new::after
                            z-index: 1
                            position: absolute
                            display: block
                            content: ''
                            width: 40px
                            height: 40px
                            top: 50%
                            right: 0
                            background: url('../img/bam-village-map-select-new.png') no-repeat center center
                            background-size: contain
                            transform: translate(80%, -50%)
                        &.bam-village-select-coming
                            color: $gray
                            border-color: $gray
                            cursor: default
                            margin-bottom: 0.5rem
                            img
                                opacity: 0.75
                                filter: grayscale(1)
                            span
                                position: absolute
                                display: block
                                font-size: 0.75rem
                                bottom: 0
                                left: 0.5rem
                                transform: translate(0%, 100%)
                                white-space: nowrap

.bam-village-service
    position: relative
    padding: 3rem 0
    .bam-village-service-tab
        display: flex
        justify-content: center
        align-items: center
        width: 85%
        margin: 3rem auto 1.5rem auto
        a
            display: block
            width: 10%
            margin: 0 0.5%
            transition: transform 0.5s
            &.active
                transform: translateY(-20px)
                          
    .bam-village-service-drop-wrap
        .bam-village-service-drop-active
            display: none
        article
            display: flex
            justify-content: center
            align-items: center
            width: 85%
            margin: 3rem auto 1.5rem auto
            a
                display: block
                width: 10%
                margin: 0 0.5%
                transition: transform 0.5s
                &.active
                    transform: translateY(-20px)
                    
    .bam-village-service-content
        position: relative
        .bam-village-servie-person
            position: absolute
            top: 10%
            right: -2%
            width: 18%
            p
                position: absolute
                bottom: 22%
                width: 100%
                padding: 0 1.5rem
                transform: translateY(50%)
                text-align: center
                  
        .bam-village-service-door-wrap
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            .bam-village-service-door-block
                position: relative
                width: 100%
                height: 100%
                .swiper-button-prev,
                .swiper-button-next
                    z-index: 2
                    width: 50px
                    &::after
                        display: none
                .swiper-button-prev
                    left: -10px
                .swiper-button-next
                    right: -10px
                .swiper-pagination
                    z-index: 2
                    .swiper-pagination-bullet
                        display: inline-flex
                        justify-content: center
                        align-items: center
                        border: 1px solid $sky
                        width: 30px
                        height: 30px
                        color: $blue
                        background: #FFF
                    .swiper-pagination-bullet-active
                        background: $sky
            .swiper
                position: relative
                width: 100%
                height: 100%
                
            .bam-village-service-door
                display: block
                position: absolute
                width: 14%
                top: 14%
                &.coming:hover
                    cursor: default
                h3
                    position: absolute
                    text-align: center
                    font-size: 1rem
                    top: 6.5%
                    left: 0
                    width: 100%
                    color: $blue
                    text-shadow: 1px 0 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF, 0 -1px 0 #FFF, 2px 0 0 #FFF, 0 2px 0 #FFF, -2px 0 0 #FFF, 0 -2px 0 #FFF
                    transform: translateY(-50%)
                .bam-village-service-door-inside
                    display: block
                    position: absolute
                    width: 78.9%
                    top: 16%
                    left: 12%
                    transition: none
                    &.active
                        transform-origin: left center
                        transform: perspective(500px) rotateY(25deg) scaleY(0.99)
                        transition: transform 0.25s, box-shadow 0.25s
                article
                    position: absolute
                    top: 25%
                    left: -55%
                    width: 90%
                    font-size: 0.95rem
                    p
                        position: absolute
                        top: 50%
                        width: 100%
                        padding: 0 0.5rem
                        transform: translateY(-50%)
                        text-align: center
                        span
                            color: $gray
                            font-size: 0.8rem

        .bam-village-service-door-1
            left: 22%
            opacity: 0
            transform: translateY(25px)
            animation: door 0.5s 0.25s forwards
        .bam-village-service-door-2
            left: 45%
            opacity: 0
            transform: translateY(25px)
            animation: door 0.5s 0.5s forwards
        .bam-village-service-door-3
            left: 68%
            opacity: 0
            transform: translateY(25px)
            animation: door 0.5s 0.75s forwards

        @keyframes door
            to
                transform: translateY(0)
                opacity: 1

.bam-village-library
    position: relative
    padding: 3rem 0
    background: $sky
    .bam-village-library-image
        position: relative
        width: 75%
        margin: 3% 0 0 0
        border-radius: 50px
        overflow: hidden
        article
            position: absolute
            top: 10%
            left: 32.5%
            width: 35%
            text-align: justify
            background: #FFF
            padding: 1rem 1.5rem
            box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1)
            h4
                color: $pink
                font-size: 1.75rem
            p
                font-size: 0.9rem
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
        .bam-village-library-btn
            display: block
            position: absolute
            width: 10%
            top: 50%
            left: 23%
        .bam-village-library-book
            display: block
            position: absolute
            width: 16%
            top: 36.5%
            left: 45.5%
    .bam-village-library-person
        z-index: 1
        position: absolute
        width: 40%
        top: 5%
        right: 3rem
        p
            position: absolute
            width: 58%
            top: 50%
            left: 5%
            transform: translateY(-50%)
            text-align: justify
    .bam-village-library-content
        position: absolute
        right: 3rem
        bottom: 0
        width: 22%
        height: 62%
        background: url('../img/bam-village-library-board.png') no-repeat center center
        background-size: contain
        h3
            font-size: 1.75rem
            color: $blue
            text-align: center
            padding-top: 20%
            p
                font-size: 1.2rem
        > div
            padding: 0 10%
            a
                display: flex
                justify-content: center
                align-items: center
                margin: 1rem 0
                div
                    width: 45%
                    padding-top: 35%
                    margin-right: 5%
                    background-color: #CCC
                    background-repeat: no-repeat! important
                    background-position: center center! important
                    background-size: cover! important
                article
                    flex: 1 0 0
                    text-align: justify
                    p
                        color: $blue
                        font-size: 1rem
                        display: -webkit-box
                        -webkit-line-clamp: 3
                        -webkit-box-orient: vertical
                        overflow: hidden
                        text-overflow: ellipsis

.bam-village-notice
    position: relative
    padding: 3rem 0
    background: $sky
    overflow: hidden
    &::before
        position: absolute
        display: block
        content: ''
        bottom: 0
        left: 0
        width: 100%
        height: 150px
        background: #3b8ee1
    .bam-village-wrap
        &::after
            position: absolute
            display: block
            content: ''
            bottom: 22px
            left: 0
            width: 100%
            height: 125px
            background: url('../img/bam-village-notice-left.png') no-repeat left center, url('../img/bam-village-notice-right.png') no-repeat right center
            background-size: 125px 125px, 125px 125px

    article
        z-index: 1
        position: relative
        width: 85%
        margin: auto
        padding: 1.5rem 3rem
        border-radius: 15px
        background: #FFF
        font-weight: normal
        font-size: 0.9rem
        a
            background: $sky
            border-bottom: 3px solid $shadow
        h4
            font-size: 1.25rem
        li
            margin: 1rem 0

.bam-village-gray
    display: none
    z-index: 999
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    .bam-village-close,
    .bam-village-back
        position: fixed
        top: 7.5%
        right: calc(50% - 512px - 85px)
        width: 75px
    .bam-village-back
        display: none

.bam-village-lightbox-map
    display: none
    z-index: 999
    position: fixed
    top: 50%
    left: 50%
    width: 1024px
    max-height: 85%
    border-radius: 50px
    background: #FFF
    padding: 1% 3%
    transform-origin: top left
    transform: scale(0) translate(-50%, -50%)
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    transition: transform 0.5s
    &.active
        transform: scale(1) translate(-50%, -50%)
    &::-webkit-scrollbar
        width: 5px
        border-radius: 5px
    &::-webkit-scrollbar-track
        background-color: $shadow
        border-radius: 5px
    &::-webkit-scrollbar-thumb
        background-color: $blue
        border-radius: 5px
    > div
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin: 3% 0
        width: 100%
        article
            flex: 1 0 0
            width: 50%
            padding: 0 3%
            &.pink
                --main-color: #{$pink}
            &.blue
                --main-color: #{$blue}
            &.green
                --main-color: #{$green}
            h4
                position: relative
                color: var(--main-color)
                font-size: 1rem
                margin-bottom: 1.5rem
                &::after
                    z-index: -1
                    position: absolute
                    display: block
                    content: ''
                    width: 100%
                    height: 1px
                    background: var(--main-color)
                    top: 50%
                    left: 0
                p
                    border: 2px solid var(--main-color)
                    border-left: 0
                    width: 12rem
                    padding: 0.5rem 0 0.5rem 2rem
                    text-align: center
                    border-radius: 0 50px 50px 0
                    background: #FFF
                img
                    position: absolute
                    top: 50%
                    left: 0
                    width: 5rem
                    transform: translate(-50%, -50%)
            .bam-village-lightbox-map-flex
                display: flex
                justify-content: center
                align-items: flex-start
                text-align: center
                div
                    width: 135px
                    h5
                        font-size: 1rem
                        color: var(--main-color)
                        img
                            position: relative
                            display: inline-block
                            top: -2px
                            width: 2rem
                            vertical-align: middle
                            margin-right: 0.25rem
                    a
                        position: relative
                        display: flex
                        justify-content: center
                        align-items: center
                        flex-direction: column
                        width: 130px
                        height: 50px
                        letter-spacing: -0.25px 
                        margin: 0.5rem auto
                        font-size: 0.85rem
                        line-height: 1rem
                        border: 1px solid var(--main-color)
                        border-radius: 50px
                        background: #FFF
                        text-align: center
                        &.map-all-new::after
                            z-index: 1
                            position: absolute
                            display: block
                            content: ''
                            width: 30px
                            height: 30px
                            top: -8px
                            right: -15px
                            background: url('../img/bam-village-map-select-new.png') no-repeat center center
                            background-size: contain
                        &.map-all-coming
                            color: $gray
                            border-color: $gray
                            cursor: default
                            margin-bottom: 1.5rem
                            span
                                position: absolute
                                display: block
                                font-size: 0.75rem
                                bottom: -0.25rem
                                left: 50%
                                transform: translate(-50%, 100%)
                                white-space: nowrap
                        span
                            display: block
                            font-size: 0.8rem

.bam-village-lightbox-detail
    display: none
    z-index: 999
    position: fixed
    top: 50%
    left: 50%
    width: 1024px
    max-height: 85%
    border-radius: 50px
    background: #FFF
    padding: 3%
    transform-origin: top left
    transform: scale(0) translate(-50%, -50%)
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    transition: transform 0.5s
    &.active
        transform: scale(1) translate(-50%, -50%)
    h2
        display: inline-block
        position: relative
        font-size: 1.25rem
        border: 2px solid $blue
        border-left: 0
        padding: 0.75rem 1rem 0.75rem 4rem
        text-align: center
        border-radius: 0 50px 50px 0
        background: #FFF
        margin: 0 0 0 50px
        white-space: nowrap
        &::after
            z-index: 1
            position: absolute
            display: block
            content: ''
            width: 125px
            height: 125px
            top: 50%
            left: 0
            background: url('../img/bam-village-icon-wood.png') no-repeat center center
            background-size: contain
            transform: translate(-50%, -50%)
    .bam-village-lightbox-detail-flex
        display: flex
        justify-content: center
        align-items: flex-start
        div
            width: 50%
            padding: 3rem 1.5rem
            &:nth-child(1)
                border-right: 1px solid $shadow
            &:nth-child(2)
                border-left: 1px solid $shadow
                margin-left: -1px
            .bam-village-logo
                display: block
                max-width: 200px
                margin-bottom: 1rem
            h4
                font-size: 1rem
                background: $shadow
                color: $blue
                border-radius: 50px
                padding: 0.25rem 0
                text-align: center
                text-shadow: 1px 0 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF, 0 -1px 0 #FFF, 2px 0 0 #FFF, 0 2px 0 #FFF, -2px 0 0 #FFF, 0 -2px 0 #FFF
                margin-bottom: 1rem
            article
                color: $blue
            h5
                font-size: 1rem
            a
                background: $sky
                border-bottom: 2px solid $shadow
            .bam-village-lightbox-btn-more,
            .bam-village-lightbox-btn-line
                display: inline-block
                padding: 0.5rem 1rem
                color: #FFF
                background: #3fc100
                border-radius: 5px
                margin: 0.5rem 0.5rem 0.5rem 0
                border: 0
            .bam-village-lightbox-btn-more
                background: $blue


// animation
.bam-village-banner
    .bam-village-title-wrap
        > div
            animation: cut 1s 1.5s forwards

.bam-village-library
    .bam-village-library-book
        animation: shake 4s infinite
    .bam-village-library-btn
        animation: shake 4s 2s infinite

[data-scroll-show]
    opacity: 0
    transform: translateY(50px)
    transition: opacity 0.5s, transform 0.5s
    &.scrollShowActive
        opacity: 1
        transform: translateY(0)

@keyframes cut
    to
        width: 100%
@keyframes shake
    42%, 46%, 50%
        transform: rotate(-5deg)
    44%, 48%, 52%        
        transform: rotate(5deg)
    0%, 40%, 54%, 100%
        transform: rotate(0deg)
        


@media only screen and (min-width: 1025px)
    
    .bam-village-service-drop-wrap
        article
            display: flex! important
    .bam-village-select-a a,
    .bam-village-map-select-full,
    .bam-village-service-tab a,
    .bam-village-service-door,
    .bam-village-library-btn,
    .bam-village-library-book,
    .bam-village-library-content > div a
        transition: filter 0.5s, transform 0.5s! important
        &:hover
            filter: brightness(1.05) contrast(1.05)


@media only screen and (max-width: 1440px)
    .bam-village-wrap
        width: 1280px

    .bam-village-map
        position: relative
        padding: 3rem 0
        .bam-village-map-wrap
            position: relative
            width: 70%
            margin-top: 3%
        .bam-village-select-wrap
            .bam-village-map-talk
                article
                    font-size: 0.9rem
            .bam-village-select-logo
                height: 368px
                article
                    div
                        height: 55px
                        margin: 1rem 25px 1rem 60px
                        padding: 0.5rem 1.25rem
                        &::before
                            width: 60px
                            height: 45px
                        &.bam-village-select-new::after
                            width: 45px
                            height: 45px
                        p
                            span
                                font-size: 0.8rem

    .bam-village-service
        .bam-village-service-tab
            width: 90%
        .bam-village-service-content
            .bam-village-servie-person
                p
                    font-size: 0.9rem
            .bam-village-service-door-wrap
                .bam-village-service-door
                    h3
                        font-size: 0.9rem
                    article
                        font-size: 0.9rem

            .bam-village-service-door-1
                left: 22%
                opacity: 0
                transform: translateY(25px)
                animation: door 0.5s 0.25s forwards
            .bam-village-service-door-2
                left: 45%
                opacity: 0
                transform: translateY(25px)
                animation: door 0.5s 0.5s forwards
            .bam-village-service-door-3
                left: 68%
                opacity: 0
                transform: translateY(25px)
                animation: door 0.5s 0.75s forwards

            @keyframes door
                to
                    transform: translateY(0)
                    opacity: 1
 
    .bam-village-library
        .bam-village-library-image
            article
                h4
                    font-size: 1.5rem
        .bam-village-library-person
            p
                font-size: 0.9rem
        .bam-village-library-content
            h3
                font-size: 1.5rem
                p
                    font-size: 1.1rem
            > div
                padding: 0 8%
                a
                    margin: 0.5rem 0
        
@media only screen and (min-width: 1025px)
    .bam-village-service-door
        width: 14%! important
        height: auto

@media only screen and (max-width: 1024px)

    .bam-village-wrap
        width: 100%
        padding: 0 1rem
        
    .bam-village-h2-title
        left: 0
        text-align: center
        p
            display: block
            margin: auto
        span
            display: block
            margin: 0.5rem 0 0 0

    .bam-village-gradient-1
        background: linear-gradient(to bottom, #fff1e8, #FFF)
        
    .bam-village-banner
        background: #fff1e8
        &::after
            background: linear-gradient(to bottom, rgba(255, 241, 232, 0), #fff1e8 75%)
        .bam-village-title-wrap
            left: 5vw
            width: 90vw
            top: 10%
            img
                width: 90vw
        .banner-talk
            width: 80%
            top: 30%
            article
                font-size: 3.25vw

    .bam-village-map
        padding: 3rem 0
        background: #fff1e8
        .bam-village-wrap
            padding: 0
        .bam-village-map-wrap
            width: 100%
            margin-top: 0
            .bam-village-map-click-fake,
            .bam-village-map-click
                display: none

        .bam-village-select-wrap
            position: static
            width: calc(100% - 2rem)
            max-width: 480px
            margin: auto
            .bam-village-map-talk
                margin: 1rem 0
                article
                    top: 50%
                    left: 1%
                    width: 70%
                    font-size: 0.8rem
            .bam-village-select-block,
            .bam-village-select-logo
                display: none

        .bam-village-map-area
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            overflow: hidden
            a
                position: absolute
                &:nth-child(1)
                    top: 6%
                    left: 4%
                    width: 73%
                    height: 55%
                &:nth-child(2)
                    top: 65%
                    left: 0
                    width: 100%
                    height: 30%
                &:nth-child(3)
                    top: 25%
                    left: 62%
                    width: 37%
                    height: 46%


        .bam-village-map-select-full
            display: block
            width: 30%
            margin: auto
            margin-right: 5%

    .bam-village-service
        .bam-village-servie-person
            position: relative
            max-width: 480px
            margin: auto
            p
                position: absolute
                bottom: 52%
                width: 65%
                left: 3%
                text-align: center
                font-size: 0.8rem
                transform: translateY(50%)

            .bam-village-select-drop
                display: none
                             
        .bam-village-service-drop-wrap
            position: relative
            border: 2px solid $shadow
            border-radius: 100px
            max-width: 480px
            margin: 1rem auto
            text-align: center
            background: #FFF
            color: $blue
            .bam-village-service-drop-active
                display: flex
                justify-content: center
                align-items: center
                width: 100%
                height: 50px
                border-radius: 100px
                padding-right: 1rem
                img
                    display: inline-block
                    width: 2rem
                    vertical-align: middle
                    margin-right: 0.5rem
                &::after
                    display: block
                    content: '▼'
                    position: absolute
                    top: 50%
                    right: 1rem
                    color: $shadow
                    transform: translateY(-50%) scale(0.7)
            article
                display: none
                z-index: 3
                position: absolute
                top: 120%
                width: 80%
                left: 10%
                padding: 0.5rem 1.5rem
                border: 2px solid $shadow
                border-radius: 25px
                background: #FFF
                text-align: center
                margin: 0
                max-height: 265px
                overflow-y: auto
                -webkit-overflow-scrolling: touch
                a
                    display: block
                    width: 100%
                    margin: 0
                    border-top: 1px solid $shadow
                    padding: 0.75rem 0
                    &.active
                        transform: translateY(0)
                    &:first-child
                        border: 0
                    img
                        position: relative
                        display: inline-block
                        width: 2rem
                        vertical-align: middle
                        top: -2px
                        margin-right: 0.5rem

        .bam-village-service-content
            position: relative
            max-width: 640px
            margin: auto
            .bam-village-service-deco
                z-index: 1
                position: absolute
                bottom: 0
                left: 0
                width: 45%
            .bam-village-service-door-wrap
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
                .swiper
                    position: relative
                    width: 100%
                    height: 100%
                .bam-village-service-door
                    position: relative
                    top: 0
                    left: 0
                    h3
                        z-index: 1
                        font-size: 0.9rem
                        line-height: 1.1rem
                        top: 17%
                        left: 40%
                        width: 45%
                    .bam-village-service-door-outside
                        position: absolute
                        width: 50%
                        top: 12%
                        left: 37%
                    .bam-village-service-door-inside
                        width: 39%
                        top: 24%
                        left: 43.5%
                    article
                        top: 27%
                        left: 10%
                        width: 45%
                        font-size: 0.9rem

    .bam-village-library
        .bam-village-library-image
            width: 100%
            margin: 0 auto
            border-radius: 25px
            max-width: 640px
            article
                top: 5%
                left: 15%
                width: 70%
                padding: 0.75rem 1rem
                h4
                    font-size: 1.25rem
            .bam-village-library-btn
                width: 22.5%
                top: 60%
                left: 49%
            .bam-village-library-book
                width: 35%
                top: 37%
                left: 27.5%

        .bam-village-library-person
            position: relative
            width: 100%
            max-width: 480px
            top: 0
            right: 0
            margin: 1rem auto
            p
                font-size: 0.8rem
                width: 62%
                left: 4%

        .bam-village-library-content
            position: static
            width: 100%
            max-width: 480px
            height: auto
            padding: 5% 0
            margin: 10% auto
            h3
                font-size: 1.5rem
                color: $blue
                text-align: center
                padding-top: 15%
                p
                    font-size: 1.1rem
            > div
                padding: 0 15%
                a
                    margin: 1rem 0
                    article
                        p
                            font-size: 1rem

    .bam-village-notice
        &::before
            height: 30%
        .bam-village-wrap
            &::after
                bottom: 0
                height: 75px
                background: url('../img/bam-village-notice-left.png') no-repeat left -25px bottom, url('../img/bam-village-notice-right.png') no-repeat right -25px bottom
                background-size: 75px 75px, 75px, 75px
        article
            width: 90%
            padding: 1.5rem
            max-width: 640px
            margin: auto
            font-size: 0.8rem
            h4
                font-size: 1rem
            li
                margin: 0.5rem 0

    .bam-village-back-v
        display: block
        position: absolute
        width: 100px
        top: 15px
        right: 15px
    .bam-village-back-a,
    .bam-village-back-a-map
        display: block
        position: absolute
        width: 150px
        bottom: 15px
        left: 15px
        p
            position: absolute
            top: 50%
            left: 25%
            font-size: 0.9rem
            transform: translateY(-55%)
            color: $blue
            text-shadow: 1px 0 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF, 0 -1px 0 #FFF, 2px 0 0 #FFF, 0 2px 0 #FFF, -2px 0 0 #FFF, 0 -2px 0 #FFF

    .bam-village-lightbox-map
        width: 100%
        height: 100%
        max-height: 100%
        border-radius: 0
        background: $sky
        padding: 5% 3% 3% 3%
        overflow: hidden
        h2
            color: $blue
            font-size: 1.75rem
            margin-left: 0.5rem
        > div
            display: block
            margin: 3% auto
            width: 100%
            article
                position: relative
                width: 100%
                padding: 0
                background: var(--main-bg)
                border-radius: 25px
                margin: 1.5rem 0
                &.pink
                    --main-color: #{$pink}
                    --main-bg: #ffe5e8
                &.blue
                    --main-color: #{$blue}
                    --main-bg: #d2edfb
                &.green
                    --main-color: #{$green}
                    --main-bg: #d5ebc2
                h4
                    z-index: 1
                    position: absolute
                    margin-bottom: 0
                    top: -5px
                    left: -5px
                    &::after
                        display: none
                    p
                        width: 8rem
                        padding: 0.25rem 0 0.25rem 1.5rem
                        margin-left: 2rem
                        font-size: 0.9rem
                    img
                        top: 50%
                        left: 0
                        width: 4rem
                        transform: translate(0, -50%)

                .bam-village-lightbox-map-flex
                    display: block
                    text-align: left
                    margin: 0 1%
                    padding: 4rem 3% 3% 3%
                    height: 21vh
                    overflow-y: auto
                    -webkit-overflow-scrolling: touch
                    div
                        display: flex
                        justify-items: flex-start
                        align-items: flex-start
                        flex-wrap: wrap
                        width: 100%
                        h5
                            width: 100%
                            img
                                width: 1.5rem
                        a
                            display: inline-flex
                            width: 135px
                            margin: 0.25rem 1px
                            &.map-all-new::after
                                width: 30px
                                height: 30px
                                top: -8px
                                right: -10px
                            &.map-all-coming
                                span
                                    font-size: 0.7rem

    .bam-village-lightbox-detail
        width: 100%
        max-height: 100%
        height: 100%
        padding: 3%
        border-radius: 0
        background: $sky
        overflow: hidden
        > div
            display: flex
            justify-content: center
            align-items: flex-start
            width: 100%
            height: 100%
            flex-direction: column
            margin-top: -8%
        h2
            font-size: 1rem
            padding: 0.5rem 1rem 0.5rem 2.5rem
            margin: 0 0 0 40px
            &::after
                width: 75px
                height: 75px
        .bam-village-lightbox-detail-flex
            display: block
            width: 100%
            height: 65%
            padding: 1.5rem
            margin-top: 15px
            border-radius: 25px
            background: #FFF
            overflow-y: auto
            -webkit-overflow-scrolling: touch
            div
                width: 100%
                padding: 0
                font-size: 0.9rem
                &:nth-child(1)
                    border-right: 0
                &:nth-child(2)
                    border-left: 0
                    margin-left: 0
                h4
                    margin: 1rem 0


    .bam-village-lightbox-area
        display: none
        z-index: 999
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $sky
        transform: scale(0)
        transition: transform 0.5s
        &.active
            transform: scale(1)
        > div
            width: 100%
            height: 100%
        .bam-village-lightbox-area-flex
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            width: 100%
            height: 100%
            &.pink
                --main-color: #{$pink}
            &.blue
                --main-color: #{$blue}
            &.green
                --main-color: #{$green}
            h3
                text-align: center
                color: var(--main-color)
                font-size: 1rem
                img
                    display: block
                    width: 75px
                    margin: 3% auto
                p
                    text-shadow: 1px 0 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF, 0 -1px 0 #FFF, 2px 0 0 #FFF, 0 2px 0 #FFF, -2px 0 0 #FFF, 0 -2px 0 #FFF
            > div
                width: 200px
                margin: 5% auto
                text-align: center
                a
                    display: flex
                    justify-content: center
                    align-items: center
                    border: 1px solid var(--main-color)
                    margin: 5% 0
                    border-radius: 50px
                    height: 45px
                    color: var(--main-color)
                    background: #FFF
                    img
                        display: block
                        width: 2rem
                        margin-right: 0.5rem

    .bam-village-lightbox-category
        display: none
        z-index: 999
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $sky
        transform: scale(0)
        padding: 0 3%
        transition: transform 0.5s
        &.active
            transform: scale(1)
        > div
            height: 100%
            max-width: 480px
            margin: auto
        .bam-village-lightbox-category-block
            height: 100%
            &.pink
                --main-color: #{$pink}
            &.blue
                --main-color: #{$blue}
            &.green
                --main-color: #{$green}
        .bam-village-lightbox-category-talk
            display: block
            width: 240px
            margin-top: 25px
        h3
            color: var(--main-color)
            font-size: 1.5rem
            text-align: center
            img
                position: relative
                display: inline-block
                vertical-align: middle
                width: 3rem
                margin-right: 1rem
                top: -3px
        article
            border-radius: 25px
            padding: 5%
            margin-top: 3%
            max-height: 50%
            background: $shadow
            overflow-y: auto
            -webkit-overflow-scrolling: touch
            div
                position: relative
                padding: 0.5rem 30px 0.5rem 70px
                width: 100%
                &::before
                    position: absolute
                    display: block
                    content: ''
                    width: 70px
                    height: 50px
                    top: 0.25rem
                    left: 0
                    background: url('../img/bam-village-icon-wood.png') no-repeat left bottom
                    background-size: contain
                p
                    font-size: 0.95rem
                    padding: 0 0 0.25rem 0.5rem
                a
                    display: flex
                    justify-content: center
                    align-items: center
                    position: relative
                    height: 50px
                    border: 1px solid $blue
                    border-radius: 50px
                    background: #FFF
                    > img
                        display: block
                        max-height: 90%
                        max-width: 80%! important
                        margin: auto
                    &.bam-village-category-new::after
                        z-index: 1
                        position: absolute
                        display: block
                        content: ''
                        width: 40px
                        height: 40px
                        top: 50%
                        right: 0
                        background: url('../img/bam-village-map-select-new.png') no-repeat center center
                        background-size: contain
                        transform: translate(80%, -50%)
                    &.bam-village-category-coming
                        color: $gray
                        border-color: $gray
                        cursor: default
                        margin-bottom: 0.5rem
                        img
                            opacity: 0.75
                            filter: grayscale(1)
                        span
                            position: absolute
                            display: block
                            font-size: 0.75rem
                            bottom: 0
                            left: 0.5rem
                            transform: translate(0%, 100%)
                            white-space: nowrap