@import 'style'

$blue: #3698ce
$green: #82cece
$grass: #d6ea91
$black: #545454

@keyframes fadein
    to
        opacity: 1
        transform: none
            
body
    background: #FFF
    
.bam-paper-2025-wrap
    color: $black
    font-size: 1.35vw
    [data-scroll-show]
        opacity: 0
        transform: translateY(3em)
        transition: opacity 1s, transform 1s
        &.scrollShowActive
            opacity: 1
            transform: translateY(0em)
    .paper-kv
        position: relative
        width: 100%
        padding-top: percentage(920/1920)
        background-repeat: no-repeat! important
        background-position: center center! important
        background-size: cover! important
        h1
            position: absolute
            font-size: 5vw
            line-height: 120%
            top: 10%
            left: 6%
        article
            position: absolute
            top: 40%
            left: 0
            width: 51%
            background: #FFF
            padding: 2.5% 4% 2.5% 6%
            border-radius: 0 2.5em 2.5em 0
            text-align: justify
            box-shadow: 0.35em 0.35em 0 $green, 0 0.35em 0 $green
            > div
                display: flex
                justify-content: center
                align-items: center
                gap: 3%
                margin-bottom: 3%
                color: $blue
                h2
                    font-size: 2vw
                    font-style: italic
                p
                    flex: 1 0 0
                    margin-top: 3px
                    border-bottom: 2px dashed $blue
                    opacity: 0.75
            .btn-kv
                position: absolute
                display: block
                bottom: -25%
                right: 5%
                width: 38%
                transition: transform 0.5s

    .paper-banner
        background-repeat: repeat! important
        background-position: top left! important
        background-size: 12.5%! important
        border-bottom: 1.5em solid $grass
        .paper-banner-content
            width: 75%
            margin: auto
            padding: 0 1.5%
            background: #FFF
            .paper-banner-block
                position: relative
                width: 100%
                padding-top: percentage(550/1280)
                background-repeat: no-repeat! important
                background-position: center center! important
                background-size: cover! important
                a
                    display: block
                    position: absolute
                    width: 23%
                    top: 75.5%
                    left: 28.5%
                    transition: transform 0.5s
                


@media only screen and (min-width: 1025px)
    .bam-paper-2025-wrap
        .btn-kv:hover,
        .paper-banner-block a:hover
            transform: scale(1.05)
        

@media only screen and (max-width: 1024px)
    .bam-paper-2025-wrap
        font-size: 2.75vw
        .paper-kv
            padding-top: percentage(1257/1024)
            h1
                font-size: 8.5vw
                top: 6%
                left: 8%
            article
                top: 25%
                width: 85%
                padding: 3% 5% 7% 8%
                > div
                    h2
                        font-size: 4vw
                    p
                        border-bottom-width: 1px
                .btn-kv
                    bottom: -23%
                    right: 48%
                    width: 45%

        .paper-banner
            border-bottom-width: 3em
            .paper-banner-content
                width: 100%
                padding: 0
                .paper-banner-block
                    padding-top: percentage(560/1024)
                    a
                        width: 30%
                        top: 72%
                        left: 8%
        