@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

body.fix {
  overflow: hidden;
}

.bam-warm-wrap {
  width: 100%;
  background: #FFF;
  font-family: 'Noto Sans TC';
}

.bam-warm-wrap * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bam-warm-wrap *::before, .bam-warm-wrap *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bam-warm-wrap a {
  text-decoration: none;
  color: inherit;
}

.bam-warm-wrap .fullimg {
  display: block;
  width: 100%;
}

.bam-warm-wrap ul {
  list-style: none;
  margin-left: 1rem;
}

.bam-warm-wrap ul li {
  position: relative;
}

.bam-warm-wrap ul li::before {
  position: absolute;
  content: '・';
  left: -1rem;
  color: #ff978d;
}

.bam-warm-wrap ol {
  list-style: none;
  margin-left: 1.5rem;
  counter-reset: olol;
}

.bam-warm-wrap ol li {
  position: relative;
  counter-increment: olol;
}

.bam-warm-wrap ol li::before {
  position: absolute;
  left: -1.5rem;
  top: 0.15rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: counter(olol);
  color: #ff978d;
  border: 1px solid #ff978d;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  font-size: 0.9rem;
}

@media only screen and (min-width: 1025px) {
  .for-m {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .for-pc {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .bam-warm-wrap ol li::before {
    top: 0.2rem;
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.8rem;
  }
}

.bam-warm-wrap {
  position: relative;
  color: #5d4f4c;
  width: calc(100% - 30px);
  margin: auto;
  padding-bottom: 15px;
}

.bam-warm-wrap .apply-btn {
  display: block;
  z-index: 9;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 120px;
}

.bam-warm-wrap .apply-btn img {
  -webkit-animation: rrr 10s linear infinite;
          animation: rrr 10s linear infinite;
}

@-webkit-keyframes rrr {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rrr {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.bam-warm-wrap .apply-btn p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid #ff978d;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  font-size: 1.75rem;
  line-height: 120%;
  background: #FFF;
  border-radius: 50%;
  -webkit-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
  background: #ff5b4d;
  color: #FFF;
  -webkit-box-shadow: 2px 2px 0 #7eccc1;
          box-shadow: 2px 2px 0 #7eccc1;
}

.bam-warm-wrap .apply-btn p::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 5px solid #ffdfd7;
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.bam-warm-wrap .border-v-left,
.bam-warm-wrap .border-v-right {
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  background-color: #ff978d !important;
  background-repeat: repeat-y !important;
  background-size: 100% auto !important;
}

.bam-warm-wrap .border-v-left {
  left: -15px;
  background-position: top 200px center !important;
}

.bam-warm-wrap .border-v-right {
  right: -15px;
  background-position: top 500px center !important;
}

.bam-warm-wrap .border-h-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-color: #ff978d !important;
  background-repeat: no-repeat !important;
  background-size: auto 100% !important;
  background-position: bottom left 15% !important;
}

.bam-warm-wrap .kv {
  position: relative;
  background: #ffdfd7;
}

.bam-warm-wrap .kv .kv-img {
  z-index: 1;
  position: relative;
  width: 90%;
  margin: auto;
}

.bam-warm-wrap .kv .kv-b {
  margin-top: -9%;
}

.bam-warm-wrap .kv .kv-d-1,
.bam-warm-wrap .kv .kv-d-2 {
  z-index: 1;
  position: absolute;
  width: 9%;
}

.bam-warm-wrap .kv .kv-d-1 {
  top: 0;
  left: 0;
}

.bam-warm-wrap .kv .kv-d-2 {
  top: 50%;
  right: 0;
}

.bam-warm-wrap .kv article {
  z-index: 1;
  position: absolute;
  width: 25%;
  top: 37%;
  left: 14%;
}

.bam-warm-wrap .kv article > div {
  position: absolute;
  padding: 2.5% 10% 5% 10%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bam-warm-wrap .kv article > div h2 {
  color: #ff5b4d;
  font-weight: normal;
  font-size: 1.5vw;
}

.bam-warm-wrap .kv article > div p {
  margin-top: 2%;
  font-size: 1vw;
}

.bam-warm-wrap .kv .kv-p {
  z-index: 1;
  display: block;
  position: absolute;
  width: 10%;
  top: 45%;
  left: 6%;
}

.bam-warm-wrap .kv h1 {
  z-index: 1;
  position: absolute;
  top: 8%;
  left: 14%;
  font-size: 3vw;
  letter-spacing: 0.2vw;
  font-weight: normal;
}

.bam-warm-wrap .kv h1 p {
  color: #ff5b4d;
}

.bam-warm-wrap .kv h1 p span {
  display: inline-block;
  border-radius: 1vw;
  background: #FFF;
  padding: 0 0.75vw;
  margin: 0 0.5vw;
}

.bam-warm-wrap .kv .scrolldown {
  z-index: 1;
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  color: #ff5b4d;
  text-align: center;
}

.bam-warm-wrap .kv .scrolldown > div {
  position: relative;
  width: 45%;
  padding-top: 75%;
  margin: auto;
  margin-top: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

.bam-warm-wrap .kv .scrolldown > div > p {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  border: 5px solid #ff978d;
  border-radius: 50%;
}

.bam-warm-wrap .kv .scrolldown > div img {
  display: block;
  position: absolute;
  width: 45%;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: scrolldown 2s infinite;
          animation: scrolldown 2s infinite;
}

@-webkit-keyframes scrolldown {
  to {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@keyframes scrolldown {
  to {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

.bam-warm-wrap .intro {
  position: relative;
  margin-top: -18%;
}

.bam-warm-wrap .intro .intro-wrap {
  width: 1280px;
  margin: auto;
}

.bam-warm-wrap .intro h2 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #ff5b4d;
  text-align: center;
}

.bam-warm-wrap .intro h2 img {
  display: block;
  width: 2rem;
  margin: 0.5rem auto;
}

.bam-warm-wrap .intro .intro-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.bam-warm-wrap .intro .intro-flex a {
  position: relative;
  display: block;
  width: 24%;
  padding-top: 28.5%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  border-radius: 75px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.bam-warm-wrap .intro .intro-flex a::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  border-radius: 0 0 75px 75px;
}

.bam-warm-wrap .intro .intro-flex a > div {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.bam-warm-wrap .intro .intro-flex a > div img {
  position: absolute;
  top: 0;
  left: 0;
}

.bam-warm-wrap .intro .intro-flex a > div article {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: top 1s;
  transition: top 1s;
}

.bam-warm-wrap .intro .intro-flex a > div article h4 {
  font-weight: normal;
  font-size: 0.9rem;
}

.bam-warm-wrap .intro .intro-flex a h3 {
  position: absolute;
  color: #FFF;
  font-size: 2rem;
  top: 70%;
  left: 0;
  width: 100%;
  font-weight: 500;
  text-align: center;
  -webkit-transition: top 1s, color 1s;
  transition: top 1s, color 1s;
}

.bam-warm-wrap .intro .intro-flex a p {
  position: absolute;
  top: calc(70% + 3rem);
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF;
  -webkit-transition: top 1s, color 1s;
  transition: top 1s, color 1s;
}

.bam-warm-wrap .intro .intro-flex a p span {
  opacity: 0;
  display: block;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.bam-warm-wrap .content {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.bam-warm-wrap .content.active {
  opacity: 1;
}

.bam-warm-wrap .content .tab-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin: auto;
  padding: 5% 0 1% 0;
}

.bam-warm-wrap .content .tab-wrap::after {
  position: absolute;
  display: block;
  content: '';
  width: 25%;
  padding-top: 6%;
  bottom: 0;
  left: 0;
  background: url("../img/bam-warm-icon-arrow.png") no-repeat center top;
  background: contain;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.bam-warm-wrap .content .tab-wrap.active-0::after {
  left: 0;
}

.bam-warm-wrap .content .tab-wrap.active-1::after {
  left: 25%;
}

.bam-warm-wrap .content .tab-wrap.active-2::after {
  left: 50%;
}

.bam-warm-wrap .content .tab-wrap.active-3::after {
  left: 75%;
}

.bam-warm-wrap .content .tab-wrap a {
  display: block;
  width: 25%;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, transform 0.5s;
  transition: color 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.bam-warm-wrap .content .tab-wrap a img {
  display: block;
  width: 1.5rem;
  margin: auto;
}

.bam-warm-wrap .content .content-bg {
  position: relative;
  width: calc(100% - (100% - 1280px)*0.5);
  margin: auto;
  margin-right: 0;
  background: #fff6eb;
  border-radius: 75px 0 0 75px;
}

.bam-warm-wrap .content .content-bg .content-wrap {
  position: relative;
  width: 1280px;
  margin: 0;
}

.bam-warm-wrap .content .content-bg .content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bam-warm-wrap .content .content-bg .content-block .content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 750px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  border-radius: 75px;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes fadein {
  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.bam-warm-wrap .content .content-bg .content-block .content-img article {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.bam-warm-wrap .content .content-bg .content-block .content-img article h3 {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 5px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  background: url("../img/bam-warm-icon-line.png") repeat-x left bottom;
  background-size: 15px;
}

.bam-warm-wrap .content .content-bg .content-block .content-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 1.5rem 0;
}

.bam-warm-wrap .content .content-bg .content-block .content-info h4 {
  font-weight: 500;
  font-size: 2rem;
}

.bam-warm-wrap .content .content-bg .content-block .content-info h5 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #ff978d;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab {
  position: relative;
  margin-bottom: 1rem;
  padding: 0 2.5rem;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper .swiper-slide {
  display: block;
  width: auto;
  padding: 0.5rem 1rem;
  color: #ff978d;
  background: #FFF;
  border-radius: 50px;
  border: 3px solid #ff978d;
  -webkit-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper .swiper-slide.active {
  color: #FFF;
  background: #ff978d;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper-button-prev,
.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper-button-next {
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #7eccc1;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper-button-prev::after,
.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper-button-next::after {
  display: none;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper-button-prev {
  left: 5px;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper-button-next {
  right: 5px;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-content {
  margin: 0 2.5rem;
  opacity: 0;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll {
  margin-top: 1rem;
  padding-right: 0.5rem;
  max-height: 500px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll .content-flex {
  margin-bottom: 1.5rem;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll .content-white {
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background: #FFF;
  border: 1px solid #7eccc1;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll .content-white h6 {
  position: relative;
  font-size: 1.2rem;
  font-weight: normal;
  color: #009090;
  padding-left: 1rem;
  margin-bottom: 0.25rem;
}

.bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll .content-white h6::before {
  position: absolute;
  display: block;
  content: '';
  width: 4px;
  height: 60%;
  background: #009090;
  top: 55%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bam-warm-wrap .notice {
  position: relative;
  margin-top: 3%;
}

.bam-warm-wrap .notice .notice-wrap {
  position: relative;
  background: url("../img/bam-warm-notice-bg.jpg") no-repeat top center;
  background-size: cover;
}

.bam-warm-wrap .notice .notice-block {
  width: 1280px;
  margin: 3% auto 0 auto;
  padding: 3% 0;
}

.bam-warm-wrap .notice h2 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #ff5b4d;
  text-align: center;
}

.bam-warm-wrap .notice h2 img {
  display: block;
  width: 2rem;
  margin: 0 auto 0.5rem auto;
}

.bam-warm-wrap .deco-1 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 9%;
}

.bam-warm-wrap .deco-2 {
  position: absolute;
  top: 110%;
  right: 0;
  width: 7%;
}

.bam-warm-wrap .deco-3 {
  position: absolute;
  width: 14%;
  bottom: 100%;
  left: 0;
}

.bam-warm-wrap .deco-5 {
  position: absolute;
  width: 3.5%;
  bottom: 100%;
  left: 20%;
}

.bam-warm-wrap .deco-4 {
  position: absolute;
  width: 12%;
  bottom: -5%;
  right: -5%;
}

.bam-warm-wrap .kv .kv-img,
.bam-warm-wrap .kv .kv-p,
.bam-warm-wrap .kv article {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.bam-warm-wrap .kv .kv-img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.bam-warm-wrap .kv h1 {
  opacity: 0;
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  -webkit-transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
  transition: opacity 1s 0.5s, -webkit-transform 1s 0.5s;
  transition: opacity 1s 0.5s, transform 1s 0.5s;
  transition: opacity 1s 0.5s, transform 1s 0.5s, -webkit-transform 1s 0.5s;
}

.bam-warm-wrap .kv .kv-p {
  -webkit-transition: opacity 1s 1s, -webkit-transform 1s 1s;
  transition: opacity 1s 1s, -webkit-transform 1s 1s;
  transition: opacity 1s 1s, transform 1s 1s;
  transition: opacity 1s 1s, transform 1s 1s, -webkit-transform 1s 1s;
}

.bam-warm-wrap .kv article {
  -webkit-transition: opacity 1s 1.5s, -webkit-transform 1s 1.5s;
  transition: opacity 1s 1.5s, -webkit-transform 1s 1.5s;
  transition: opacity 1s 1.5s, transform 1s 1.5s;
  transition: opacity 1s 1.5s, transform 1s 1.5s, -webkit-transform 1s 1.5s;
}

.bam-warm-wrap .kv .scrolldown {
  opacity: 0;
  -webkit-transition: opacity 1s 1.5s, -webkit-transform 1s 1.5s;
  transition: opacity 1s 1.5s, -webkit-transform 1s 1.5s;
  transition: opacity 1s 1.5s, transform 1s 1.5s;
  transition: opacity 1s 1.5s, transform 1s 1.5s, -webkit-transform 1s 1.5s;
}

.bam-warm-wrap .kv.active .kv-img,
.bam-warm-wrap .kv.active h1,
.bam-warm-wrap .kv.active .kv-p,
.bam-warm-wrap .kv.active article,
.bam-warm-wrap .kv.active .scrolldown {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bam-warm-wrap .kv.active .kv-p {
  -webkit-animation: shake 3s 2s infinite;
          animation: shake 3s 2s infinite;
}

@-webkit-keyframes shake {
  0%, 30%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  20% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes shake {
  0%, 30%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  20% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

.bam-warm-wrap .intro .intro-flex a {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.bam-warm-wrap .intro .intro-flex a.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bam-warm-wrap .content .tab-wrap a {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.bam-warm-wrap .content .tab-wrap a.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bam-warm-wrap .content .tab-wrap a.active {
  color: #ff5b4d;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bam-warm-wrap .content .tab-wrap a.active img {
  -webkit-animation: jump 0.75s forwards;
          animation: jump 0.75s forwards;
}

@-webkit-keyframes jump {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes jump {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@media only screen and (max-width: 1440px) {
  .bam-warm-wrap .intro {
    margin-top: -18%;
  }
  .bam-warm-wrap .intro .intro-wrap {
    width: 950px;
  }
  .bam-warm-wrap .intro .intro-flex a {
    border-radius: 50px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }
  .bam-warm-wrap .intro .intro-flex a::before {
    border-radius: 0 0 50px 50px;
  }
  .bam-warm-wrap .intro .intro-flex a h3 {
    font-size: 1.5rem;
    top: 65%;
  }
  .bam-warm-wrap .intro .intro-flex a p {
    top: calc(65% + 2.25rem);
  }
  .bam-warm-wrap .content .tab-wrap {
    width: 450px;
  }
  .bam-warm-wrap .content .content-bg {
    width: calc(100% - (100% - 950px)*0.5);
    border-radius: 75px 0 0 75px;
  }
  .bam-warm-wrap .content .content-bg .content-wrap {
    width: 950px;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img {
    height: 550px;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img article {
    border-radius: 35px;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img article h3 {
    font-size: 1.75rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info {
    padding: 1.5rem 0;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info h4 {
    font-size: 1.75rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info h5 {
    font-size: 1.25rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll {
    max-height: 350px;
  }
  .bam-warm-wrap .notice .notice-block {
    width: 950px;
  }
  .bam-warm-wrap .deco-4 {
    width: 12%;
    bottom: -5%;
    right: -5%;
  }
}

@media only screen and (min-width: 1025px) {
  .bam-warm-wrap .content-toggle-dropdown {
    display: block !important;
  }
  .bam-warm-wrap .apply-btn:hover p {
    color: #FFF;
    background: #ff978d;
  }
  .bam-warm-wrap .intro .intro-flex a.hoverable:hover {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  .bam-warm-wrap .intro .intro-flex a.hoverable:hover > div {
    opacity: 1;
  }
  .bam-warm-wrap .intro .intro-flex a.hoverable:hover > div article {
    top: 50%;
  }
  .bam-warm-wrap .intro .intro-flex a.hoverable:hover h3 {
    top: 10%;
    color: #ff978d;
  }
  .bam-warm-wrap .intro .intro-flex a.hoverable:hover p {
    color: #7eccc1;
  }
  .bam-warm-wrap .intro .intro-flex a.hoverable:hover p span {
    opacity: 1;
  }
  .bam-warm-wrap .content .tab-wrap a:hover {
    color: #ff5b4d;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-tab .swiper .swiper-slide:hover {
    color: #FFF;
    background: #ff978d;
  }
}

@media only screen and (max-width: 1024px) {
  .bam-warm-wrap {
    width: calc(100% - 20px);
    padding-bottom: 10px;
  }
  .bam-warm-wrap .border-v-left,
  .bam-warm-wrap .border-v-right {
    width: 10px;
  }
  .bam-warm-wrap .border-v-left {
    left: -10px;
  }
  .bam-warm-wrap .border-v-right {
    right: -10px;
  }
  .bam-warm-wrap .border-h-bottom {
    height: 10px;
  }
  .bam-warm-wrap .kv {
    padding-bottom: 15%;
  }
  .bam-warm-wrap .kv .kv-d-1,
  .bam-warm-wrap .kv .kv-d-2 {
    width: 12%;
  }
  .bam-warm-wrap .kv .kv-d-2 {
    top: 50%;
  }
  .bam-warm-wrap .kv article {
    width: 60%;
    top: 89%;
    left: 27%;
  }
  .bam-warm-wrap .kv article > div {
    padding: 2% 5% 2% 11%;
  }
  .bam-warm-wrap .kv article > div h2 {
    font-size: 3.75vw;
  }
  .bam-warm-wrap .kv article > div p {
    font-size: 3.1vw;
    margin-top: 2%;
  }
  .bam-warm-wrap .kv .kv-p {
    width: 22%;
    top: 80%;
    left: 5%;
  }
  .bam-warm-wrap .kv h1 {
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 6vw;
    text-align: center;
  }
  .bam-warm-wrap .kv h1 p span {
    border-radius: 2.5vw;
  }
  .bam-warm-wrap .intro {
    margin-top: 0;
    background: url("../img/bam-warm-intro-bg.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 25%;
  }
  .bam-warm-wrap .content {
    margin: 5% 0 10% 0;
  }
  .bam-warm-wrap .content h2 {
    font-size: 1.35rem;
    font-weight: normal;
    color: #ff5b4d;
    text-align: center;
    margin-bottom: 3rem;
  }
  .bam-warm-wrap .content h2 img {
    display: block;
    width: 1.5rem;
    margin: 0.5rem auto;
  }
  .bam-warm-wrap .content .tab-wrap {
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 360px;
    padding: 1% 0;
  }
  .bam-warm-wrap .content .tab-wrap::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 50%;
    width: calc(100vw - 20px);
    height: 100%;
    background: #fff6eb;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    -webkit-box-shadow: 0 0 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 15px -8px rgba(0, 0, 0, 0.5);
  }
  .bam-warm-wrap .content .tab-wrap.fix::before {
    opacity: 1;
  }
  .bam-warm-wrap .content .tab-wrap.fix::after {
    display: none;
  }
  .bam-warm-wrap .content .tab-wrap.fix a {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .bam-warm-wrap .content .tab-wrap.fix a.active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .bam-warm-wrap .content .tab-wrap::after {
    padding-top: 7%;
  }
  .bam-warm-wrap .content .tab-wrap a {
    position: relative;
    font-size: 1.1rem;
  }
  .bam-warm-wrap .content .tab-wrap a img {
    width: 2rem;
  }
  .bam-warm-wrap .content .content-bg {
    width: 100%;
    border-radius: 0;
    padding-bottom: 10%;
  }
  .bam-warm-wrap .content .content-bg .content-wrap {
    width: 90%;
    max-width: 500px;
    margin: auto;
  }
  .bam-warm-wrap .content .content-bg .content-block {
    display: block;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img {
    display: block;
    width: 100%;
    height: auto;
    background-size: 0 0 !important;
    border-radius: 0;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    background: none;
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding: 1rem 0;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img article h3 {
    display: block;
    white-space: nowrap;
    font-size: 1.5rem;
    padding-bottom: 5px;
    background-size: 10px;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img article p {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    margin-top: -5px;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info {
    padding: 0;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info h4 {
    font-size: 1.5rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info h5 {
    font-size: 1.75rem;
    text-align: center;
    color: #ff5b4d;
    padding-top: 1rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-content {
    display: block !important;
    margin: 0;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-content .content-toggle-a {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.25rem 0;
    text-align: center;
    border: 2px solid #ff978d;
    color: #ff978d;
    border-radius: 50px;
    background: #FFF;
    margin: 0.5rem 0;
    -webkit-transition: color 0.5s, background 0.5s;
    transition: color 0.5s, background 0.5s;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-content .content-toggle-a::after {
    position: absolute;
    display: block;
    content: '＋';
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-content .content-toggle-a.active {
    background: #ff978d;
    color: #FFF;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-content .content-toggle-a.active::after {
    content: '－';
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-content .content-toggle-dropdown {
    display: none;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll {
    margin-top: 0;
    padding-right: 0;
    max-height: none;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll article {
    text-align: center;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll .content-white h6 {
    font-size: 1.1rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll .content-img-m {
    width: 100%;
    padding-top: 30%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 30px;
    margin-top: 1rem;
  }
  .bam-warm-wrap .notice {
    margin-top: 15%;
  }
  .bam-warm-wrap .notice .notice-wrap {
    padding-bottom: 75px;
  }
  .bam-warm-wrap .notice .notice-block {
    width: 90%;
    max-width: 500px;
    height: 8rem;
    padding: 2rem 0;
    overflow: hidden;
  }
  .bam-warm-wrap .notice .notice-block.active {
    height: auto;
  }
  .bam-warm-wrap .notice h2 {
    font-size: 1.35rem;
  }
  .bam-warm-wrap .notice h2 img {
    width: 1.5rem;
  }
  .bam-warm-wrap .notice .notice-more {
    display: block;
    margin: auto;
    padding: 1.5rem 0;
    width: 100px;
  }
  .bam-warm-wrap .notice .notice-more .icon-less {
    display: none;
  }
  .bam-warm-wrap .notice .notice-more.active .icon-more {
    display: none;
  }
  .bam-warm-wrap .notice .notice-more.active .icon-less {
    display: block;
  }
  .bam-warm-wrap .deco-1 {
    display: none;
  }
  .bam-warm-wrap .deco-2 {
    display: none;
  }
  .bam-warm-wrap .deco-3 {
    width: 12%;
    top: 100%;
  }
  .bam-warm-wrap .deco-5 {
    width: 10%;
    left: 10%;
  }
  .bam-warm-wrap .deco-4 {
    width: 25%;
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
  }
  .bam-warm-wrap .kv h1 {
    -webkit-transform: translateX(0) translateY(3rem);
            transform: translateX(0) translateY(3rem);
  }
  .bam-warm-wrap .intro .intro-flex a.zoom {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
}

@media only screen and (max-width: 480px) {
  .bam-warm-wrap .apply-btn {
    bottom: 1rem;
    right: 1rem;
    width: 90px;
  }
  .bam-warm-wrap .apply-btn p {
    font-size: 1.25rem;
  }
  .bam-warm-wrap .apply-btn p::after {
    border-width: 3px;
  }
  .bam-warm-wrap .intro .intro-flex a {
    gap: 1%;
  }
  .bam-warm-wrap .intro .intro-flex a > div article h4 {
    font-size: 0.85rem;
  }
  .bam-warm-wrap .intro .intro-flex a h3 {
    font-size: 1.1rem;
    font-weight: normal;
  }
  .bam-warm-wrap .intro .intro-flex a h3 span {
    bottom: 25%;
  }
  .bam-warm-wrap .content .tab-wrap {
    width: 300px;
  }
  .bam-warm-wrap .content .tab-wrap a {
    font-size: 1rem;
  }
  .bam-warm-wrap .content .tab-wrap a img {
    width: 1.5rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img article h3 {
    font-size: 1.35rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-img article p {
    font-size: 0.9rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info {
    padding: 0;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info h5 {
    font-size: 1.35rem;
  }
  .bam-warm-wrap .content .content-bg .content-block .content-info .content-scroll .content-white h6 {
    font-size: 1.2rem;
  }
  .bam-warm-wrap .notice .notice-wrap {
    padding-bottom: 35px;
  }
  .bam-warm-wrap .deco-3 {
    width: 15%;
  }
}
/*# sourceMappingURL=index.css.map */